body{
    margin-top: 3%;
}

h1{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: #435ac1;
    font-family: 'Square Peg', cursive;
    font-size: 100px;
}

.search-number {
    text-align: center;
    margin:2% auto;
}

.single-contact {
    margin:3% 0 0 10%;
    max-width: 80%;    
}

.single-contact-head{
    font-size: 21px;
    margin-right: 5%;
    float: left;
}

.buttons{
    display: flex;
    font-size: 29px;
    justify-content: space-between;
    margin-top: 2%;
}

h2{
    font-weight: bold;
    color: #435ac1;
}

#add, #list {
    margin: 10%;
}
.list-title{
    margin-left:15%;
    display: flex;
}
.add-form{
    display: flex;
    margin-bottom: 3%;
    margin-left:6%;
}

.list-icon{
    font-size: 50px;
    color: rgb(152, 181, 220);
    margin: 0 8% 0 0;
}
.list-h2{
  padding-top: 6%;
  
}

.details{
    justify-content: center;
    font-size: 23px;
}

.stars{
    color:gold;
    font-size: 19px;
}

.stars:hover{
    font-size: 21px;
    cursor: pointer;
}
.accordion-head{
    max-height: 50%;
}

.info{
    float: right;
    font-size: 20px;
    font-weight: 900;
    color: #198754;
}

.info-disabled{
    pointer-events: none; 
    visibility: hidden;
}

.info:hover{
    font-size: 21px;
    font-weight: 1000;
    color:darkgreen;
}

.searchstar{
    float: right;
    color: gold;
    font-size: 40px;
}

.phone-icon{
    font-size: 30px;
    color: #198754;
    max-width: 25%;
    margin-bottom: 2%;
}
.already {
    color: red;
}

.group-icon{
    font-size: 30px;
    color: gold;
    max-width: 25%;
}

.group-select{
    max-width: 50%;
    margin-top: 2%;
}

.modify{
    color: #435ac1;
    cursor: pointer;
}

.phone-number{
    max-width: 70%;
    margin-top: 2%;
}

.delete {
    color: rgb(226, 0, 0);
    cursor: pointer;
}









